# Site settings
baseurl = "https://columbus2020.satrdays.org" # Change this to the base url after netlify deploy, e.g. "https://cardiff2019.satrdays.org/"
languageCode = "en-us"
title = "satRday Columbus 2020"
theme = ["hugo-satrdays-theme", "hugo-agency-theme"]

# Enter your tracking code to enable Google Analytics
googleAnalytics = ""

# Disable taxonomies that are not used https://discourse.gohugo.io/t/found-no-layout-for-taxonomyterm-language-en-output-format-html/16376
disableKinds = ["taxonomy", "taxonomyTerm"]

[params]
  # You can use Markdown syntax for urls [text](//url.to/source) or
  # most longer texts.
  #
  # All icons using Fontawesome's icon font. Look at fortawesome.github.io/Font-Awesome/icons/
  # for more icons. The icons are represented by their corresponding
  # CSS class.

  # To provide some metadata for search engines feel free to add a few
  # information about you and your website.
  name = "satRday Columbus 2020"
  description = "Virtual R conference featuring useRs across Ohio on November 14, 2020"
  # email = "your@email.com"

  # Link custom assets relative to /static
  custom_css = ["css/satrday.css"]
  custom_js  = []
  favicon    = "img/favicon.ico"

  # Possibility to disable external/additional fonts
  # Exception: Fontawesome
  disableFonts = false

  # 404 error customization
  [params.error404]
    heading = "Page couldn't be found"
    text = "Please visit [this page](https://satrdays.org/)"

  # Optional piwik tracking
  #[params.analytics.piwik]
  #  URL = "https://stats.example.com"
  #  ID = "42"
  #  # Track all subdomains with "*.example.com"
  #  domain = "www.example.com"
  #  # Optional integrity check hash
  #  hash = "sha512-RfeD0pacGTqy9m7U6PgehQfS4cc7SIt+e+P+H5e848kEvB/RW84CUGO3O4O3LNbxjevym6KPUZ8muPsMrI8WIw=="

  # Navigation
  [params.navigation]
    brand = "satRday"
    # Optional logo as brand stored in img/
    logo = "logo.png"
    services = "About"
    callforpapers = "Submit"
    about = "Timeline"
    portfolio = "Talks"
    eventbrite = "Register"
    schedule = "Schedule"
    team = "People"
    contact = "Contact"


    # Add custom links. Those can be pre- and postpended to the default menu above.
    # Use the weight attribute to order your custom links. Uncomment the example
    # below and replace the values with your own.

    # prepended links
    #[[menu.prepend]]
    #  url = "http://gohugo.io"
    #  name = "Hugo"
    #  weight = 10

    # postpended links
    [[menu.postpend]]
      url = "http://satrdays.org/"
      name = "satRdays.org"
      weight = 10


  # Hero section
  [params.hero]
    # To change the background image of the hero, replace 'header-bg.jpg' in
    # the 'static/img' folder.
    title = "satRday Columbus"
    subtitle = "A virtual R conference featuring useRs across Ohio on November 14, 2020!"
    bg = true
    buttonText = "Tell me more"


  # About [Services] section
  [params.services]
    enable = true
    title = "About"
    subtitle = "Conference Details"

    [[params.services.row]]

    [[params.services.row.list]]
      icon = "fa-clock-o"
      title = "Details"
      description = "Nov 14, 2020 via Zoom (registration required)"
      url = "#"

    [[params.services.row.list]]
      icon = "fa-graduation-cap"
      title = "Learning"
      description = "Gain knowledge from local R users"
      url = "#"

    [[params.services.row.list]]
      icon = "fa-users"
      title = "Community Lead"
      description = "Community organized, community focused"
      url = "#"

    [[params.services.row.list]]
      icon = "fa-money"
      title = "Affordable"
      description = "Free!"
      url = "#"

    [[params.services.row.list]]
      icon = "fa-universal-access"
      title = "Accessible"
      description = "An inclusive, supportive and respectful environment"
      url = "#"

  # Register section
  # You only need ONE of these active
  [params.tito]
    enable = false
    title = "Register"
    bg = true
    accountevent = "ultimateconf/2013"
      # Go to https://ti.to/ and find the account (under your user) and event pair string e.g. "cardiff-satrday/2018"
      # include botht the account and event in a string, seperated by /, with no spaces

  [params.eventbrite]
    enable = false
    title = "Register"
    bg = true
    eid = "32416000129" 
      # Go to https://www.eventbrite.co.uk/support/articles/en_US/How_To/how-to-sell-eventbrite-tickets-registrations-on-your-website-using-embeddable-widgets?lg=en_GB 
      # Follow instructions to discover your 'Website Integration' embeddable iframe
      # Take ONLY the numeric string between "eid=" and "&ref=etckt"
      # Supply this string as the value to `eid` above

  [params.tickettailor]
    enable = false
    title = "Register"
    bg = true
    eventviewid = "162430"
      # Go to www.tickettailor.com and open your event page
      # Note the number at the end of the url e.g. https://www.tickettailor.com/event/view/id/162430
      # Supply the number ONLY in `eventviewid`
  
  # Call for papers section
  [params.callforpapers]
    enable = false
    title = "Call For Speakers"
    bg = false
    CfSpage = "/satrday-columbus-2020/"
      # Go to Organizer > My Events > Dashboard and copy the "CfS Page" string into the `CfSpage` value
    dates = "July 06 - Aug 17 2020"
  
  # Hackathon section
  [params.hackathon]
    enable = false
    bg = false
    title = "Hackathon"
    subtitle="Can you _Hack_ it?"
    brief1="You _can_ put markdown in the briefs section" 
    brief2="But you __MUST__ hardcode html links <a href= 'www.google.com' > google  </a> for further info."
    location= "The place we're going it"
    dates = "15 November 2019"
    times= "13:00-17:30"  
    website_name="google"
    website_url="www.google.com"

  # Talk [Portfolio] section
  [params.portfolio]
    enable = false
    # All projects defined in their own files. You can find example projects
    # at 'exampleSite/data/projects'. Copy the 'projects' folder into the 'data' directory
    # at the root of this Hugo site.
    # For more informtion take a look at the README.
    title = "Speakers"
    subtitle = "Speakers for satRdays Columbus 2020"
    bg = false

    [params.portfolio.modal]
      client = "Client"
      date = "Date"
      category = "Category"
      buttonText = "Close project"

  # Schedule section
  [params.schedule]
    enable = false
    title = "Schedule"
    bg = false

  # Important Dates [About] section
  [params.about]
    enable = true
    title = "Important Dates"
    subtitle = "Be prepared!"
    endpoint = "Conference"

    # The events will be listed from the top to the bottom.
    # All images are stored under 'static/img/about'.
    # Replace them with your own.
    [[params.about.events]]
      img = "submission.jpg"
      date = "July 6, 2020"
      title = "Call for Proposals Open"
      description = "Call for proposals for satRday Columbus 2020 are now open!"

    [[params.about.events]]
      img = "submission.jpg"
      date = "August 17, 2020"
      title = "Proposal Submission Deadline at Midnight"
      description = "Submissions for the talk close at midnight US eastern time."
      
    [[params.about.events]]
      img = "mic.jpg"
      date = "September 6, 2020 "
      title = "Speakers get notified"
      description = "Speakers get notified for accepted talks."

    [[params.about.events]]
      img = "tickets.jpg"
      date = "September 19, 2020"
      title = "Registration Opens"
      description = "Registration for satRday Columbus opens."

    [[params.about.events]]
      img = "satrday-logo.png"
      date = "November 14, 2020"
      title = "Virtual satRday Columbus 2020!"
      description = "We are very much looking forward to the inagural satRdays Columbus!"

  
  # Location section
  [params.location]
    enable = false
    title = "Location title"
    bg = true
    iframesrc = "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12770.336629178193!2d174.7680403!3d-36.8524341!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x868a73f26ed3e621!2sDepartment+of+Statistics%2C+University+of+Auckland!5e0!3m2!1sen!2suk!4v1533231461829"

  # Team section
  [params.team]
    enable = true
    # Possibility to center items
    #center = true
    title = "Team"
    subtitle = "The people putting it together"
    bg = false
    description = ""
    speakers = "Speakers"
    

    # All team member's pictures are stored under 'static/img/team'.
    # Replace them with your own too.
    # Suggestion: Image size should be at least 360px*360px or the alignment might be affected.
    [[params.team.members]]
      img = "john-blischak.jpg"
      name = "John Blischak"
      position = "Freelance Scientific Software Developer"
      bio = "Copley, OH"
      social = [
        ["fa-twitter", "https://twitter.com/jdblischak"],
        ["fa-github", "https://github.com/jdblischak"],
        ["fa-linkedin", "https://www.linkedin.com/in/jdblischak"]
      ]

    [[params.team.members]]
      img = "ezgi-karaesmen.jpg"
      name = "Ezgi Karaesmen"
      position = "Genomics at Nationwide Children's Hospital"
      bio = "Columbus, OH"
      social = [
        ["fa-twitter", "https://twitter.com/e_Karaesmen"],
        ["fa-github", "https://github.com/karaesmen"],
        ["fa-linkedin", "https://www.linkedin.com/in/ezgi-karaesmen/"]
      ]

    [[params.team.members]]
      img = "bernie-lawson.jpg"
      name = "Bernie Lawson"
      position = "Data Scientist in Retail"
      bio = "Cincinnati, OH"
      social = [
        ["fa-twitter", "https://twitter.com/woodyblawson"],
        ["fa-github", "https://github.com/lawsonbh"],
        ["fa-linkedin", "https://www.linkedin.com/in/bernardlawson"]
      ]
      
    [[params.team.members]]
      img = "abbas-rizvi.png"
      name = "Abbas Rizvi"
      position = "Data Scientist at Covail"
      bio = "Columbus, OH"
      social = [
        ["fa-twitter", "https://twitter.com/aarizvi"],
        ["fa-github", "https://github.com/aarizvi"],
        ["fa-linkedin", "https://www.linkedin.com/in/aarizv"]
      ]

    [[params.team.members]]
      img = "katie-sasso-schafer.jpg"
      name = "Katie Sasso Schafer"
      position = "Director of AI and Automation at Covail"
      bio = "Columbus, OH"
      social = [
        ["fa-twitter", "https://twitter.com/KatieSasso"],
        ["fa-github", "https://github.com/ksasso"],
        ["fa-linkedin", "https://www.linkedin.com/in/katiesasso"]
      ]
  # Client section
  [params.clients_list]
    enable = true
    # Possibility to center items
    center = true
    # Optional client title specifying the involvement
    title = "Sponsors"
    bg = false

    # All the clients' logos are stored under 'static/img/logos'.
    # Replace them with your clients's logos.
    # Suggestion: .svg in the size of 280px*80px looks good
    [[params.clients]]
      logo = "root-inc-logo-black.png"
      link = "https://www.joinroot.com/"

    [[params.clients]]
      logo = "aware.png"
      link = "https://www.awarehq.com/"
  
  [params.diversity]
    enable = true
    title = "Diversity"
    bg = true

  # Contact section
  [params.contact]
    enable = true
    title = "Contact us"
    subtitle  = "Lorem ipsum dolor sit amet consectetur."
    buttonText = "Send message"
    # netlify = true

    # Since this template is static, the contact form uses www.formspree.io as a
    # proxy. The form makes a POST request to their servers to send the actual
    # email. Visitors can send up to a 1000 emails each month for free.
    #
    # What you need to do for the setup?
    #
    # - set your email address under 'email' below
    # - upload the generated site to your server
    # - send a dummy email yourself to confirm your account
    # - click the confirm link in the email from www.formspree.io
    # - you're done. Happy mailing!

    # It is possible to substitute formspring with other providers
    # as an example the mailout plugin from caddy.
    # Provide the post URL for the form and depending on the provider
    # add some custom JS script to finish the implementation.
    # postURL = "https://example.com/mailout/"

    email = "satrday.columbus@gmail.com"

    # Success and error message overwrite for async contact form
    #thanks = "Thank you for awesomely contacting us."
    #error = "Message could not be send. Please contact us at mail@example.com instead."

    [params.contact.captcha]
      # sitekey = ""

    # 'warning' defines error messages for invalid inputs
    [params.contact.form.name]
      text = "Your Name *"
      warning = "Please enter your name."

    [params.contact.form.email]
      text = "Your Email *"
      warning = "Please enter your email address."

    [params.contact.form.phone]
      text = "Your Phone *"
      warning = "Please enter your phone number."

    [params.contact.form.message]
      text = "Your Message *"
      warning = "Please enter a message."

      # Add optional form fields to identify contact forms
      #[[params.contact.form.hidden]]
      #  name = "someID"
      #  value = "example.com"
      #
      #[[params.contact.form.hidden]]
      # Special values for name such as "page" and "site" will be autofilled
      #  name = "page"

  # Footer section
  [params.footer]
    enable = true
    copyright = "Published under the Apache License 2.0."

    [[params.footer.social]]
      icon = "fa-twitter"
      link = "https://twitter.com/satrdays_org"
      title = "Twitter"

    [[params.footer.social]]
      icon = "fa-github"
      link = "https://github.com/satRdays/Columbus2020"
      title = "GitHub"
