{{ "<!-- Hero -->" | safeHTML }}
<header>
  <div class="container"> 
    <div class="intro-text">
          <div class="intro-lead-in" style="padding: 3px; display: inline-block; background: rgba(43,77,147,.9);">
            {{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}
            - Join us again in <a href="https://columbus2021.satrdays.org/">2021</a>!
          </div>
          <div class="intro-heading" style="padding: 3px; display: inline-block; background: rgba(43,77,147,.9);">
            {{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</div>
      <a href="#services" class="page-scroll btn btn-xl">{{ with .Site.Params.hero.buttonText }}{{ . }}{{ end }}</a>
    </div>
  </div>
</header>
